/* @import url('../ui/jquery-ui.min.css'); */
:root {
    --e-normal: #ffd24d;
    --black: #000;
    --gray-extra-dark: #262626;
    --gray-dark: #6f6f6f;
    --gray-normal: #c6c6c6;
    --gray-light: #e0e0e0;
    --gray-extra-light: #f4f4f4;
    --white: #fff;
    --primary-dark: #441796;
    --primary-normal: #612ace;
    --primary-light: #805ae9;
    --primary-extra-light: #bdb1ff;
    --primary-super-light: #ededff;
    --primary-dark-gradient: linear-gradient(355.69deg,rgba(252,127,77,.1) 3.04%,rgba(255,153,113,.032) 50.37%,hsla(0,0%,100%,.032) 96.06%),linear-gradient(355.69deg,hsla(4,100%,84%,.1) 3.04%,hsla(4,100%,84%,.032) 53.27%,hsla(4,100%,84%,0) 96.06%),radial-gradient(54.25% 134.02% at 102.14% 153.53%,hsla(4,100%,84%,.56) 0,hsla(4,100%,84%,0) 100%),radial-gradient(72.7% 114.74% at 72.56% 175.7%,rgba(255,212,88,.72) 0,rgba(255,212,88,0) 100%),#5221b2;
    --primary-normal-gradient: linear-gradient(355.69deg,rgba(252,127,77,.1) 3.04%,rgba(255,153,113,.032) 50.37%,hsla(0,0%,100%,.032) 96.06%),linear-gradient(355.69deg,hsla(4,100%,84%,.1) 3.04%,hsla(4,100%,84%,.032) 53.27%,hsla(4,100%,84%,0) 96.06%),radial-gradient(54.25% 134.02% at 102.14% 153.53%,hsla(4,100%,84%,.56) 0,hsla(4,100%,84%,0) 100%),radial-gradient(72.7% 114.74% at 72.56% 175.7%,rgba(255,212,88,.72) 0,rgba(255,212,88,0) 100%),#612ace;
    --secondary-dark: #bf241d;
    --secondary-normal: #d43228;
    --secondary-light: #ea3f32;
    --secondary-extra-light: #ffb1ae;
    --secondary-super-light: #fdeeed;
    --accent-dark: #441796;
    --accent-normal: #612ace;
    --accent-light: #805ae9;
    --accent-extra-light: #bdb1ff;
    --accent-super-light: #ededff;
    --accent-dark-gradient: linear-gradient(355.69deg,rgba(252,127,77,.1) 3.04%,rgba(255,153,113,.032) 50.37%,hsla(0,0%,100%,.032) 96.06%),linear-gradient(355.69deg,hsla(4,100%,84%,.1) 3.04%,hsla(4,100%,84%,.032) 53.27%,hsla(4,100%,84%,0) 96.06%),radial-gradient(54.25% 134.02% at 102.14% 153.53%,hsla(4,100%,84%,.56) 0,hsla(4,100%,84%,0) 100%),radial-gradient(72.7% 114.74% at 72.56% 175.7%,rgba(255,212,88,.72) 0,rgba(255,212,88,0) 100%),#5221b2;
    --accent-normal-gradient: linear-gradient(355.69deg,rgba(252,127,77,.1) 3.04%,rgba(255,153,113,.032) 50.37%,hsla(0,0%,100%,.032) 96.06%),linear-gradient(355.69deg,hsla(4,100%,84%,.1) 3.04%,hsla(4,100%,84%,.032) 53.27%,hsla(4,100%,84%,0) 96.06%),radial-gradient(54.25% 134.02% at 102.14% 153.53%,hsla(4,100%,84%,.56) 0,hsla(4,100%,84%,0) 100%),radial-gradient(72.7% 114.74% at 72.56% 175.7%,rgba(255,212,88,.72) 0,rgba(255,212,88,0) 100%),#612ace;
    --success-dark: #116944;
    --success-normal: #0d8763;
    --success-light: #1ca976;
    --success-extra-light: #92efb6;
    --success-super-light: #edfcef;
    --warning-dark: #d1450d;
    --warning-normal: #ee5413;
    --warning-light: #f86527;
    --warning-extra-light: #fdba99;
    --warning-super-light: #ffeedf;
    --error-dark: #bf241d;
    --error-normal: #d43228;
    --error-light: #ea3f32;
    --error-extra-light: #ffb1ae;
    --error-super-light: #fdeeed;
    --font-family: "HTGFellix";
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --height-large: 48px;
    --border-radius-s: 3px;
    --border-radius-m: 6px;
    --border-radius-l: 10px;
    --border-radius-c: 9999px;
    --text-small-font-size: 12px;
    --text-small-line-height: 17px;
    --text-small-font-weight: normal;
    --text-small-color: var(--gray-extra-dark);
    --text-medium-font-size: 14px;
    --text-medium-line-height: 20px;
    --text-medium-font-weight: normal;
    --text-medium-color: var(--gray-extra-dark);
    --text-large-font-size: 17px;
    --text-large-line-height: 22px;
    --text-large-font-weight: normal;
    --text-large-color: var(--gray-extra-dark);
    --subheading-small-font-size: 12px;
    --subheading-small-line-height: 17px;
    --subheading-small-font-weight: bold;
    --subheading-small-text-transform: uppercase;
    --subheading-small-color: var(--gray-dark);
    --subheading-medium-font-size: 14px;
    --subheading-medium-line-height: 18px;
    --subheading-medium-font-weight: bold;
    --subheading-medium-text-transform: uppercase;
    --subheading-medium-color: var(--gray-dark);
    --subheading-large-font-size: 17px;
    --subheading-large-line-height: 20px;
    --subheading-large-font-weight: bold;
    --subheading-large-text-transform: uppercase;
    --subheading-large-color: var(--gray-dark);
    --heading-small-font-size: 17px;
    --heading-small-line-height: 20px;
    --heading-small-font-weight: bold;
    --heading-small-color: var(--gray-extra-dark);
    --heading-medium-font-size: 20px;
    --heading-medium-line-height: 24px;
    --heading-medium-font-weight: bold;
    --heading-medium-color: var(--gray-extra-dark);
    --heading-large-font-size: 24px;
    --heading-large-line-height: 28px;
    --heading-large-font-weight: bold;
    --heading-large-color: var(--gray-extra-dark);
    --title-small-font-size: 32px;
    --title-small-line-height: 37px;
    --title-small-font-weight: bold;
    --title-small-color: var(--gray-extra-dark);
    --title-medium-font-size: 40px;
    --title-medium-line-height: 46px;
    --title-medium-font-weight: bold;
    --title-medium-color: var(--gray-extra-dark);
    --title-large-font-size: 48px;
    --title-large-line-height: 56px;
    --title-large-font-weight: bold;
    --title-large-color: var(--gray-extra-dark);
    --shadow-s: 0px 2px 16px rgba(0,0,0,.1);
    --shadow-m: 0px 2px 16px rgba(0,0,0,.04),0px 8px 28px rgba(0,0,0,.08);
    --shadow-l: 0px 2px 16px rgba(0,0,0,.04),0px 8px 48px -4px rgba(0,0,0,.1);
}

.bg-primary-normal-gradient {
    background: var(--primary-normal-gradient,var(--primary-normal,#3081b0));
}