@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?82ec173ee367fcff598bc437bca39c65") format("truetype"),
url("./flaticon.woff?82ec173ee367fcff598bc437bca39c65") format("woff"),
url("./flaticon.woff2?82ec173ee367fcff598bc437bca39c65") format("woff2"),
url("./flaticon.eot?82ec173ee367fcff598bc437bca39c65#iefix") format("embedded-opentype"),
url("./flaticon.svg?82ec173ee367fcff598bc437bca39c65#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-airplane:before {
    content: "\f101";
}
.flaticon-angry:before {
    content: "\f102";
}
.flaticon-arrow-down-sign-to-navigate:before {
    content: "\f103";
}
.flaticon-at-1:before {
    content: "\f104";
}
.flaticon-at:before {
    content: "\f105";
}
.flaticon-avatar:before {
    content: "\f106";
}
.flaticon-bed-1:before {
    content: "\f107";
}
.flaticon-bed-2:before {
    content: "\f108";
}
.flaticon-bed:before {
    content: "\f109";
}
.flaticon-bookmark-1:before {
    content: "\f10a";
}
.flaticon-bookmark-2:before {
    content: "\f10b";
}
.flaticon-bookmark:before {
    content: "\f10c";
}
.flaticon-calendar-1:before {
    content: "\f10d";
}
.flaticon-calendar-2:before {
    content: "\f10e";
}
.flaticon-calendar-3:before {
    content: "\f10f";
}
.flaticon-calendar-4:before {
    content: "\f110";
}
.flaticon-calendar-5:before {
    content: "\f111";
}
.flaticon-calendar:before {
    content: "\f112";
}
.flaticon-call:before {
    content: "\f113";
}
.flaticon-check-box-with-check-sign:before {
    content: "\f114";
}
.flaticon-check-in:before {
    content: "\f115";
}
.flaticon-check-out:before {
    content: "\f116";
}
.flaticon-check:before {
    content: "\f117";
}
.flaticon-checked:before {
    content: "\f118";
}
.flaticon-cityscape:before {
    content: "\f119";
}
.flaticon-diamond-1:before {
    content: "\f11a";
}
.flaticon-diamond:before {
    content: "\f11b";
}
.flaticon-dollar-currency-symbol-variant:before {
    content: "\f11c";
}
.flaticon-email:before {
    content: "\f11d";
}
.flaticon-envelope:before {
    content: "\f11e";
}
.flaticon-euro-currency-symbol:before {
    content: "\f11f";
}
.flaticon-exchange:before {
    content: "\f120";
}
.flaticon-facebook-message:before {
    content: "\f121";
}
.flaticon-facebook:before {
    content: "\f122";
}
.flaticon-filter:before {
    content: "\f123";
}
.flaticon-fork:before {
    content: "\f124";
}
.flaticon-funnel:before {
    content: "\f125";
}
.flaticon-grid:before {
    content: "\f126";
}
.flaticon-happy:before {
    content: "\f127";
}
.flaticon-headset:before {
    content: "\f128";
}
.flaticon-heart-1:before {
    content: "\f129";
}
.flaticon-heart-2:before {
    content: "\f12a";
}
.flaticon-heart-3:before {
    content: "\f12b";
}
.flaticon-heart:before {
    content: "\f12c";
}
.flaticon-heartbeat-1:before {
    content: "\f12d";
}
.flaticon-heartbeat:before {
    content: "\f12e";
}
.flaticon-home-1:before {
    content: "\f12f";
}
.flaticon-home-2:before {
    content: "\f130";
}
.flaticon-home-3:before {
    content: "\f131";
}
.flaticon-home:before {
    content: "\f132";
}
.flaticon-information-1:before {
    content: "\f133";
}
.flaticon-information-2:before {
    content: "\f134";
}
.flaticon-information-3:before {
    content: "\f135";
}
.flaticon-information:before {
    content: "\f136";
}
.flaticon-instagram:before {
    content: "\f137";
}
.flaticon-jacuzzi:before {
    content: "\f138";
}
.flaticon-left-arrow:before {
    content: "\f139";
}
.flaticon-like:before {
    content: "\f13a";
}
.flaticon-list-1:before {
    content: "\f13b";
}
.flaticon-list-2:before {
    content: "\f13c";
}
.flaticon-list-3:before {
    content: "\f13d";
}
.flaticon-list:before {
    content: "\f13e";
}
.flaticon-location:before {
    content: "\f13f";
}
.flaticon-love:before {
    content: "\f140";
}
.flaticon-mail-send:before {
    content: "\f141";
}
.flaticon-map-1:before {
    content: "\f142";
}
.flaticon-map:before {
    content: "\f143";
}
.flaticon-menu-2:before {
    content: "\f144";
}
.flaticon-menu-3:before {
    content: "\f145";
}
.flaticon-menu-4:before {
    content: "\f146";
}
.flaticon-menu:before {
    content: "\f147";
}
.flaticon-minus-sign:before {
    content: "\f148";
}
.flaticon-minus:before {
    content: "\f149";
}
.flaticon-mobile-phone:before {
    content: "\f14a";
}
.flaticon-next:before {
    content: "\f14b";
}
.flaticon-office:before {
    content: "\f14c";
}
.flaticon-paper:before {
    content: "\f14d";
}
.flaticon-password:before {
    content: "\f14e";
}
.flaticon-phone:before {
    content: "\f14f";
}
.flaticon-pin:before {
    content: "\f150";
}
.flaticon-placeholder:before {
    content: "\f151";
}
.flaticon-plane-1:before {
    content: "\f152";
}
.flaticon-plane:before {
    content: "\f153";
}
.flaticon-plus-1:before {
    content: "\f154";
}
.flaticon-plus:before {
    content: "\f155";
}
.flaticon-sad-face-in-rounded-square:before {
    content: "\f156";
}
.flaticon-sceptic:before {
    content: "\f157";
}
.flaticon-search-interface-symbol:before {
    content: "\f158";
}
.flaticon-search:before {
    content: "\f159";
}
.flaticon-send-1:before {
    content: "\f15a";
}
.flaticon-send-2:before {
    content: "\f15b";
}
.flaticon-send:before {
    content: "\f15c";
}
.flaticon-settings-1:before {
    content: "\f15d";
}
.flaticon-settings-2:before {
    content: "\f15e";
}
.flaticon-settings:before {
    content: "\f15f";
}
.flaticon-share-1:before {
    content: "\f160";
}
.flaticon-share-2:before {
    content: "\f161";
}
.flaticon-share:before {
    content: "\f162";
}
.flaticon-shopping-cart-1:before {
    content: "\f163";
}
.flaticon-shopping-cart:before {
    content: "\f164";
}
.flaticon-shower-1:before {
    content: "\f165";
}
.flaticon-shower-2:before {
    content: "\f166";
}
.flaticon-shower:before {
    content: "\f167";
}
.flaticon-smartphone-1:before {
    content: "\f168";
}
.flaticon-smartphone:before {
    content: "\f169";
}
.flaticon-smile:before {
    content: "\f16a";
}
.flaticon-sort-descending:before {
    content: "\f16b";
}
.flaticon-sort:before {
    content: "\f16c";
}
.flaticon-star-1:before {
    content: "\f16d";
}
.flaticon-star-2:before {
    content: "\f16e";
}
.flaticon-star:before {
    content: "\f16f";
}
.flaticon-sunbed:before {
    content: "\f170";
}
.flaticon-sunset-1:before {
    content: "\f171";
}
.flaticon-sunset:before {
    content: "\f172";
}
.flaticon-tag:before {
    content: "\f173";
}
.flaticon-tick:before {
    content: "\f174";
}
.flaticon-transfer-1:before {
    content: "\f175";
}
.flaticon-transfer:before {
    content: "\f176";
}
.flaticon-turkey-lira-currency-symbol-1:before {
    content: "\f177";
}
.flaticon-turkey-lira-currency-symbol:before {
    content: "\f178";
}
.flaticon-twitter:before {
    content: "\f179";
}
.flaticon-up-arrow:before {
    content: "\f17a";
}
.flaticon-upload:before {
    content: "\f17b";
}
.flaticon-user-1:before {
    content: "\f17c";
}
.flaticon-user-2:before {
    content: "\f17d";
}
.flaticon-user-3:before {
    content: "\f17e";
}
.flaticon-user:before {
    content: "\f17f";
}
.flaticon-whatsapp-1:before {
    content: "\f180";
}
.flaticon-whatsapp-2:before {
    content: "\f181";
}
.flaticon-whatsapp:before {
    content: "\f182";
}
.flaticon-youtube-1:before {
    content: "\f183";
}
.flaticon-youtube:before {
    content: "\f184";
}
